# <% provide :title, "Help" %>

<h1><%= t("help_page") %></h1>
<p><%= t("find_me") %></p>
<%= link_to"https://tiv.wsm.vn/learn/en/learning/1467/content/618/video/5073/" do %>
  <em> Ruby on Rails </em> 
<% end %>